@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap');
@import url('./style.css');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 490px;
    width: 640px;
    position: relative;
    margin: 0 auto;
}

.container .juego2 {
    background-image: url('../images/juego2/ba.webp');
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 490px;
    width: 640px;
}

.container #menu {
    position: absolute;
    width: 150px;
    bottom: 15%;
    left: calc(50% - 75px);
}
.container #imagenBox {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container #imagenBox .imagen {
    width: 70%;
    margin: 20% auto;
}

.container #menu #botoninicio,
.container #leaderboard #winnerSubmit {
    color: var(--color-purple);
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
}

.container #menu #botoninicio:hover,
.container #leaderboard #winnerSubmit:hover {
    background-color: var(--color-yellow);
    color: var(--color-purple);
}

.container #menu #botoninicio {
    margin: 0 auto;
    width: 100%;

    padding: 1em 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-title);
    font-size: 1.2em;
}

.container #leaderboard {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container #leaderboard #winnerInput,
.container #leaderboard #winnerSubmit {
    display: block;
    width: 50%;
    padding: 0.8em;
    margin: 0.8em auto;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}

.container #leaderboard #leadList {
    color: var(--color-yellow);
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-title);
}

.container #leaderboard #leadList li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.2em;
}

.container #leaderboard #leadList span {
    font-family: var(--font-title);
}

#leadList #rowName {
    padding-left: 2em;
}

#leadList #rowScore {
    padding-right: 2em;
}

.container #leaderboard #leadList li:first-child {
    font-size: 1.3em;
    background-color: var(--color-purple);
    padding: 0.3em;
}

.container #cronometro {
    position: absolute;
    width: 100%;

    text-align: center;
    text-transform: uppercase;
}

.container #cronometro span {
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--color-yellow);
}
