@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap');
@import url('./style.css');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 490px;
    width: 640px;
    position: relative;
    margin: 0 auto;
}

.container .juego2 {
    background-image: url('../images/juego2/ba.webp');
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 490px;
    width: 640px;
}

.container #menu {
    position: absolute;
    width: 150px;
    bottom: 15%;
    left: calc(50% - 75px);
}
.container #imagenBox {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container #imagenBox .imagen {
    width: 70%;
    margin: 20% auto;
}

.container #menu #botoninicio {
    margin: 0 auto;
    width: 100%;
    background-color: var(--color-yellow);
    padding: 1em 0;
    font-family: var(--font-title);
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-purple);
}

.container #cronometro {
    position: absolute;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.container #cronometro span {
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--color-yellow);
}

.container #cronometro #puntos {
    display: inline-block;
    width: 60px;
    text-align: center;
}
