
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');
/*Roberto*/
h2{font-family: 'Oswald', sans-serif;
color: honeydew;}
p{font-family: 'Open Sans', sans-serif;
color: honeydew;}
a{font-family: 'Oswald', sans-serif;}
h3{font-family: 'Oswald', sans-serif; color: honeydew;}
.list-item{font-family: 'Open Sans', sans-serif;}
.card-footer{font-family: 'Open Sans', sans-serif;}
.card-title{font-family: 'Oswald', sans-serif;}
.nav .nav-item a{color: honeydew;
  font-size: 2em;  }
.nav{background-color: black;
 position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;}

body{
   background-image: url(https://wallpaperaccess.com/full/264293.jpg); 
   background-color: rgb(126, 126, 126);
   background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    overflow:hidden;
}
/*Roberto*/


/*FOOTER*/
footer{
    text-align: center;
}
footer li{
    list-style: none;
    padding:10px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer ul{
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding-left:0;
}
footer i{
    color: black;
}
footer p{
    margin: 0 auto;
}
footer .footericon{
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
footer .footericon img{
    width:100%;
}
/* ----------quienes somos------------ */
.q-somos {
  padding: 60px 0 40px 80px;
}

.q-somos .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.q-somos img {
  width: 100%;
}


